.profile {
  width: 68.75%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .profile {
    width: 100%;
    padding: 28px 19px 0;
    flex-direction: column;
  }
}
